/* 960GS */

header { }
article { }
footer { }

/* 
	Namespace to keep them apart from Modules and States, for example,
 	two flip an article from the right, to the left.
 */
.l-left article { }

/*
	Grid module
*/

.l-grid {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.l-grid > li {
    display: inline-block;
    margin: 0 0 10px 10px; 
    
    /* IE7 hack to mimic inline-block on block elements */
    *display: inline;
    *zoom: 1;
}
