.box-100-100 {
	width: 100px;
	height: 100px;
	padding: 20px;
	margin: 20px;
}

.box-200-200 {
	width: 200px;
	height: 200px;
	padding: 20px;
	margin: 20px;
}

.box-400-300 {
	width: 400px;
	height: 300px;
	margin: 40px;
}
